@page
@model Duke_Queue.Pages.LiveOffice.LiveOffice1Model
@{
}
<h1>Select a professor from the menu below:</h1>
<button>Drop in to Office Hours</button>
<h1>Your postion in queue is number 3</h1>
<h2>Estimated time is 25 minutes</h2>