@page
@model Duke_Queue.Pages.Home.AddOfficeHourModel
@{
}


<form asp-page="AddOfficeHours">
    <input asp-for="NewOfficeHours.OfficeHoursDate" placeholder="Day" />
    <input asp-for="NewOfficeHours.TimeSlot" placeholder="Time" />
    <br />
    <input type="submit" class="btn btn-primary" value="Add New Office Hours->" />
    <a href="/Home/InstructorHome">Cancel</a>

</form>

    

