@*@page
@model Duke_Queue.Pages.Home.AddOfficeHourModel
@{
}


<form asp-page="AddOfficeHours">
    <input asp-for="NewOfficeHours.OfficeNumber" placeholder="Office Number" />
    <input asp-for="NewOfficeHours.Date" placeholder="Date" />
    <input asp-for="NewOfficeHours.Time" placeholder="Time" />
    <br />
    <input type="submit" class="btn btn-primary" value="Add New Office Hours->" />
    <a asp-page="Index">Cancel</a>

</form>

    

*@