@page
@model Duke_Queue.Pages.Home.ViewQueue3Model
@{
}

<table>
    <tr>
        <td>
            <p>Student Removed:</p>
            @if (ViewData.ContainsKey("End"))
            {
                @ViewData["End"]

            }

        </td>
    </tr>
</table>