@page
@model Duke_Queue.Pages.Home.ViewQueue2Model
@{
}

<table>
    <tr>
        <td>
            <p>Student Accepted:</p>
            @if (ViewData.ContainsKey("Start"))
            {
                @ViewData["Start"]

   
                
            }
            
        </td>
    </tr>
</table>

